@model SecretaryWebMvc.Models.ActivitiesReport

@{
    ViewData["Title"] = "Deletar";
}

<h2>@ViewData["Title"]</h2>

<h3>
    Você realmente deseja excluir estas atividades relacionada ao publicador
    @Html.DisplayFor(model => model.Publisher.FullName)?
</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Publicador</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Publisher.FullName)
        </dd>
        <dt>
            <label>Publicações</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Publications)
        </dd>
        <dt>
            <label>Videos</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Video)
        </dd>
        <dt>
            <label>Horas</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hours)
        </dd>
        <dt>
            <label>Revisitas</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Revisits)
        </dd>
        <dt>
            <label>Estudos</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BibleStudies)
        </dd>
        <dt>
            <label>Horas Adicionais</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlusHours)
        </dd>
        <dt>
            <label>Observações</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observation)
        </dd>
        <dt>
            <label>Mês</label>
        </dt>
       @* <dd>
            @Html.DisplayFor(model => model.Date.Month)
        </dd>*@
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index">Back to List</a>
    </form>
</div>