
@model IEnumerable<SecretaryWebMvc.Models.ActivitiesReport>
@{
    ViewData["Title"] = "Atividades Ministeriais";
}

<h2>@ViewData["Title"]</h2>

<br />
<br />
<p>
    <a asp-action="Create" class="btn btn-default bg-primary">Adicionar Atividades</a>
</p>
<br />
<br />

<table class="table table-striped table-hover">

    <thead>
        <tr class="btn-primary bg-success">
            <th>
                <label>Nome</label>
            </th>
            <th>
                <label>Publicações</label>
            </th>
            <th>
                <label>Video</label>
            </th>
            <th>
                <label>Horas</label>
            </th>
            <th>
                <label>Revisitas</label>
            </th>
            <th>
                <label>Estudos</label>
            </th>
            <th>
                <label>Horas Adicionais</label>
            </th>
            <th>
                <label>Observações</label>
            </th>
            <th>
                <label>Mês</label>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td align="center">
                    @Html.DisplayFor(x => item.Publisher.FullName)
                </td>
                <td align="center">
                    @Html.DisplayFor(x => item.Publications)
                </td>
                <td align="center">
                    @Html.DisplayFor(x => item.Video)
                </td>
                <td align="center">
                    @Html.DisplayFor(x => item.Hours)
                </td>
                <td align="center">
                    @Html.DisplayFor(x => item.Revisits)
                </td>
                <td align="center">
                    @Html.DisplayFor(x => item.BibleStudies)
                </td>
                <td align="center">
                    @Html.DisplayFor(x => item.PlusHours)
                </td>
                <td align="center">
                    @Html.DisplayFor(x => item.Observation)
                </td>
                <td>
                    @Html.DisplayFor(x => item.Date.Month)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>