@using SecretaryWebMvc.Models.Enums
@model SecretaryWebMvc.Models.ViewModels.ActivitiesReportFormViewModel


<br />
<h2> Atividades Congregacionais</h2>
<div class="container-fluid">
    <form asp-action="IndexReport" class="navbar-form navbar-left" role="search">

        <div class="form-group">
            <div class="form-group">
                <label>Selecione o Mês desejado</label>
                <input type="month" class="form-control" name="Date" id="Date" style="margin-left: 20px;" />
            </div>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left: 15px;">Buscar</button>
    </form>
</div>
<br />

@if (Model != null)
{
    var month = Model.ActivitiesReports.FirstOrDefault(x => x.Date != DateTime.MinValue).Date.Month;
    var sumPublisher = @Model.ActivitiesReports.FirstOrDefault(x => x.Publisher.Congregation.SumPublishers > 0);
    if (Model.Assistances != null)
    {
        var assistanceFds = @Model.Assistances.Where(x => x.Date.DayOfWeek == DayOfWeek.Wednesday);
    }

    var assistanceWeekend = @Model.Assistances.Where(x => x.Date.DayOfWeek == DayOfWeek.Saturday || x.Date.DayOfWeek == DayOfWeek.Sunday).Sum(x => x.Quantity);
    var assistanceWeek = @Model.Assistances.Where(x => x.Date.DayOfWeek == DayOfWeek.Wednesday || x.Date.DayOfWeek == DayOfWeek.Thursday).Sum(x => x.Quantity);

    if (sumPublisher != null)
    {
        <table>
            <dl class="row">
                <dt class="col-md-4">
                    <label>Congregação: @sumPublisher.Publisher.Congregation.Name </label><br />
                    <label>Total de Publicadores: @sumPublisher.Publisher.Congregation.SumPublishers  </label>
                    <label>Publicadores Irregulares : @Model.ActivitiesReports.Where(x => x.PublisherRelated == true).Count()</label>
                </dt>
                <dt class="col-md-4">
                    <label>Publicadores que relataram : @Model.ActivitiesReports.Where(x => x.PublisherRelated == false && x.Publisher.Ispioneer == false && x.IsPionerAux == false).Count()</label>
                    <label>P. Regulares que relataram : @Model.ActivitiesReports.Where(x => x.Publisher.Ispioneer == true).Count()</label>
                    <label>P. Auxiliares que relataram : @Model.ActivitiesReports.Where(x => x.IsPionerAux).Count()</label>
                </dt>

                <dt class="col-md-4">
                    <label>Assistência as Reuniões</label><br />
                    <label>Meio de Semana : @Model.Assistances.Where(x => x.Date.DayOfWeek == DayOfWeek.Wednesday || x.Date.DayOfWeek == DayOfWeek.Thursday  ).Sum(x => x.Quantity)</label> <br />
                    <label>Fim de semana : @Model.Assistances.Where(x => x.Date.DayOfWeek == DayOfWeek.Saturday ||  x.Date.DayOfWeek == DayOfWeek.Sunday ).Sum(x => x.Quantity)</label>
                </dt>
            </dl>
        </table>
    }
    <br />
    <table class="table table-striped table-hover">

        <label>Publicadores</label>

        <thead>
            <tr class="btn-primary bg-success">
                <th>
                    <label>Mês</label>
                </th>
                <th>
                    <label>Publicações</label>
                </th>
                <th>
                    <label>Video</label>
                </th>
                <th>
                    <label>Horas</label>
                </th>
                <th>
                    <label>Revisitas</label>
                </th>
                <th>
                    <label>Estudos</label>
                </th>
                <th>
                    <label>Horas Adicionais</label>
                </th>

                <th>
                </th>
            </tr>

        </thead>

        @if (Model != null)
        {

            <tr>
                <td>
                    @{
                        
                        @Html.DisplayName(@Model.Month(month))
                    }
                    @{
                        var publisher = @Model.ActivitiesReports.Where(x => x.IsPionerAux == false && x.Publisher.Ispioneer == false);
                    }

                </td>

                <td>
                    @Html.DisplayName(publisher.Sum(x=> x.Publications).ToString())
                </td>

                <td>
                    @Html.DisplayName(publisher.Sum(x=> x.Video).ToString())
                </td>
                <td>
                    @Html.DisplayName(publisher.Sum(x=> x.Hours).ToString())
                </td>
                <td>
                    @Html.DisplayName(publisher.Sum(x=> x.Revisits).ToString())
                </td>
                <td>
                    @Html.DisplayName(publisher.Sum(x=> x.BibleStudies).ToString())
                </td>
                <td>
                    @Html.DisplayName(publisher.Sum(x=> x.PlusHours).ToString())

                </td>
            </tr>
        }

    </table>
    <br />

    <label>Pioneiros Regulares</label>
    <table class="table table-striped table-hover">

        <thead>
            <tr class="btn-primary bg-success">
                <th>
                    <label>Mês</label>
                </th>
                <th>
                    <label>Publicações</label>
                </th>
                <th>
                    <label>Video</label>
                </th>
                <th>
                    <label>Horas</label>
                </th>
                <th>
                    <label>Revisitas</label>
                </th>
                <th>
                    <label>Estudos</label>
                </th>
                <th>
                    <label>Horas Adicionais</label>
                </th>

                <th>
                </th>
            </tr>

        </thead>

        @if (Model != null)
        {

            <tr>
                <td>
                    @{
                        
                        @Html.DisplayName(@Model.Month(month))
                    }
                </td>

                <td>
                    @Html.DisplayName(Model.ActivitiesReports.Where(x => x.Publisher.Ispioneer == true).Sum( x => x.Publications).ToString())
                </td>

                <td>
                    @Html.DisplayName(Model.ActivitiesReports.Where(x => x.Publisher.Ispioneer == true).Sum(x => x.Video).ToString())
                </td>
                <td>
                    @Html.DisplayName(Model.ActivitiesReports.Where(x => x.Publisher.Ispioneer == true).Sum( x => x.Hours).ToString())
                </td>
                <td>
                    @Html.DisplayName(Model.ActivitiesReports.Where(x => x.Publisher.Ispioneer == true).Sum(x => x.Revisits).ToString())
                </td>
                <td>
                    @Html.DisplayName(Model.ActivitiesReports.Where(x => x.Publisher.Ispioneer == true).Sum(x => x.BibleStudies).ToString())
                </td>
                <td>
                    @Html.DisplayName(Model.ActivitiesReports.Where(x => x.Publisher.Ispioneer == true).Sum(x => x.PlusHours).ToString())
                </td>
            </tr>
        }

    </table>

    <br />


    <label>Pioneiros Auxiliares</label>
    <table class="table table-striped table-hover">

        <thead>
            <tr class="btn-primary bg-success">
                <th>
                    <label>Mês</label>
                </th>
                <th>
                    <label>Publicações</label>
                </th>
                <th>
                    <label>Video</label>
                </th>
                <th>
                    <label>Horas</label>
                </th>
                <th>
                    <label>Revisitas</label>
                </th>
                <th>
                    <label>Estudos</label>
                </th>
                <th>
                    <label>Horas Adicionais</label>
                </th>

                <th>
                </th>
            </tr>

        </thead>
        @if (Model != null)
        {

            if (Model.ActivitiesReports.Any(x => x.IsPionerAux == true))
            {
                <tr>
                    <td>
                        @{
                            @Html.DisplayName(@Model.Month(month))
                        }
                    </td>
                    <td>
                        @Html.DisplayName(Model.ActivitiesReports.Where(x => x.IsPionerAux == true).Sum( x => x.Publications).ToString())
                    </td>

                    <td>
                        @Html.DisplayName(Model.ActivitiesReports.Where(x => x.IsPionerAux == true).Sum(x => x.Video).ToString())
                    </td>
                    <td>
                        @Html.DisplayName(Model.ActivitiesReports.Where(x => x.IsPionerAux == true).Sum( x => x.Hours).ToString())
                    </td>
                    <td>
                        @Html.DisplayName(Model.ActivitiesReports.Where(x => x.IsPionerAux == true).Sum(x => x.Revisits).ToString())
                    </td>
                    <td>
                        @Html.DisplayName(Model.ActivitiesReports.Where(x => x.IsPionerAux == true).Sum(x => x.BibleStudies).ToString())
                    </td>
                    <td>
                        @Html.DisplayName(Model.ActivitiesReports.Where(x => x.IsPionerAux == true).Sum(x => x.PlusHours).ToString())
                    </td>
                </tr>
            }
        }
    </table>
}









