@*model IEnumerable<SecretaryWebMvc.Models.ActivitiesReport>
@{
    ViewData["Title"] = "Atividades Congregaconais";


}

<h2>@ViewData["Title"]</h2>
<br />
<div class="container-fluid">
    <form asp-action="IndexReport" class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <div class="form-group">
                <label>Selecione o Mês desejado</label>
                <input type="month" class="form-control" name="Date" id="Date" style="margin-left: 20px;" />

            </div>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left: 15px;">Buscar</button>
    </form>
</div>
<br />
<br />

@if (Model != null)
{
    var sumPublisher = @Model.FirstOrDefault(x => x.Publisher.Congregation.SumPublishers > 0);

    if (sumPublisher != null)
    {

        <dl class="row">
            <dt class="col-md-3">
                <label>Congregação: @sumPublisher.Publisher.Congregation.Name </label>
                <label>Total de Publicadores: @sumPublisher.Publisher.Congregation.SumPublishers  </label>
            </dt>
            <dt class="col-md-3">
                <label>Publicadores Inativos : @Model.Where(x => x.PublisherRelated == true).Count()</label>
                <label>Publicadores que relataram : @Model.Count()</label>
            </dt>
            <dt class="col-md-3">
                <label>Pioneiros Regulares : @Model.Where(x => x.Publisher.Ispioneer == true).Count()</label>
                <label>Pioneiros Auxiliares : @Model.Where(x => x.IsPionerAux).Count()</label>
            </dt>

            <dt class="col-md-3">
                <title>Assistencia</title>
                <label>Meio de Semana :
                <label>Fim de semana : @Model.Where(x => x.IsPionerAux).Count()</label>
            </dt>
        </dl>
    }
}

<table class="table table-striped table-hover">

    <label>Publicadores</label>
    <thead>
        <tr class="btn-primary bg-success">
            <th>
                <label>Mês</label>
            </th>
            <th>
                <label>Publicações</label>
            </th>
            <th>
                <label>Video</label>
            </th>
            <th>
                <label>Horas</label>
            </th>
            <th>
                <label>Revisitas</label>
            </th>
            <th>
                <label>Estudos</label>
            </th>
            <th>
                <label>Horas Adicionais</label>
            </th>

            <th>
            </th>
        </tr>

    </thead>

    @if (Model != null)
    {

        <tr>
            <td>
                @{
                    var months = Model.Where(x => x.Date != DateTime.MinValue);
                    @if (months.Any(x => x.Date.Month == 1))
                    {
                        @Html.DisplayName("Janeiro")
                    }
                    @if (months.Any(x => x.Date.Month == 2))
                    {
                        @Html.DisplayName("Fevereiro")
                    }
                    @if (months.Any(x => x.Date.Month == 3))
                    {
                        @Html.DisplayName("Março")
                    }
                    @if (months.Any(x => x.Date.Month == 4))
                    {
                        @Html.DisplayName("Abril")
                    }
                    @if (months.Any(x => x.Date.Month == 5))
                    {
                        @Html.DisplayName("Maio")
                    }
                    @if (months.Any(x => x.Date.Month == 6))
                    {
                        @Html.DisplayName("Junho")
                    }
                    @if (months.Any(x => x.Date.Month == 7))
                    {
                        @Html.DisplayName("Julho")
                    }
                    @if (months.Any(x => x.Date.Month == 8))
                    {
                        @Html.DisplayName("Agosto")
                    }
                    @if (months.Any(x => x.Date.Month == 9))
                    {
                        @Html.DisplayName("Setembro")
                    }
                    @if (months.Any(x => x.Date.Month == 10))
                    {
                        @Html.DisplayName("Outubro")
                    }
                    @if (months.Any(x => x.Date.Month == 11))
                    {
                        @Html.DisplayName("Novembro")
                    }
                    @if (months.Any(x => x.Date.Month == 12))
                    {
                        @Html.DisplayName("Dezembro")
                    }
                }

                @{
                    var publisher = @Model.Where(x => x.IsPionerAux == false && x.Publisher.Ispioneer == false);
                }

            </td>

            <td>
                @Html.DisplayName(publisher.Sum(x=> x.Publications).ToString())
            </td>

            <td>
                @Html.DisplayName(publisher.Sum(x=> x.Video).ToString())
            </td>
            <td>
                @Html.DisplayName(publisher.Sum(x=> x.Hours).ToString())
            </td>
            <td>
                @Html.DisplayName(publisher.Sum(x=> x.Revisits).ToString())
            </td>
            <td>
                @Html.DisplayName(publisher.Sum(x=> x.BibleStudies).ToString())
            </td>
            <td>
                @Html.DisplayName(publisher.Sum(x=> x.PlusHours).ToString())

            </td>
        </tr>
    }

</table>
<br />

<label>Pioneiros Regulares</label>
<table class="table table-striped table-hover">

    <thead>
        <tr class="btn-primary bg-success">
            <th>
                <label>Mês</label>
            </th>
            <th>
                <label>Publicações</label>
            </th>
            <th>
                <label>Video</label>
            </th>
            <th>
                <label>Horas</label>
            </th>
            <th>
                <label>Revisitas</label>
            </th>
            <th>
                <label>Estudos</label>
            </th>
            <th>
                <label>Horas Adicionais</label>
            </th>

            <th>
            </th>
        </tr>

    </thead>

    @if (Model != null)
    {

        <tr>
            <td>
                @{
                    var months = Model.Where(x => x.Date != DateTime.MinValue);
                    @if (months.Any(x => x.Date.Month == 1))
                    {
                        @Html.DisplayName("Janeiro")
                    }
                    @if (months.Any(x => x.Date.Month == 2))
                    {
                        @Html.DisplayName("Fevereiro")
                    }
                    @if (months.Any(x => x.Date.Month == 3))
                    {
                        @Html.DisplayName("Março")
                    }
                    @if (months.Any(x => x.Date.Month == 4))
                    {
                        @Html.DisplayName("Abril")
                    }
                    @if (months.Any(x => x.Date.Month == 5))
                    {
                        @Html.DisplayName("Maio")
                    }
                    @if (months.Any(x => x.Date.Month == 6))
                    {
                        @Html.DisplayName("Junho")
                    }
                    @if (months.Any(x => x.Date.Month == 7))
                    {
                        @Html.DisplayName("Julho")
                    }
                    @if (months.Any(x => x.Date.Month == 8))
                    {
                        @Html.DisplayName("Agosto")
                    }
                    @if (months.Any(x => x.Date.Month == 9))
                    {
                        @Html.DisplayName("Setembro")
                    }
                    @if (months.Any(x => x.Date.Month == 10))
                    {
                        @Html.DisplayName("Outubro")
                    }
                    @if (months.Any(x => x.Date.Month == 11))
                    {
                        @Html.DisplayName("Novembro")
                    }
                    @if (months.Any(x => x.Date.Month == 12))
                    {
                        @Html.DisplayName("Dezembro")
                    }
                }

            </td>

            <td>
                @Html.DisplayName(Model.Where(x => x.Publisher.Ispioneer == true).Sum( x => x.Publications).ToString())
            </td>

            <td>
                @Html.DisplayName(Model.Where(x => x.Publisher.Ispioneer == true).Sum(x => x.Video).ToString())
            </td>
            <td>
                @Html.DisplayName(Model.Where(x => x.Publisher.Ispioneer == true).Sum( x => x.Hours).ToString())
            </td>
            <td>
                @Html.DisplayName(Model.Where(x => x.Publisher.Ispioneer == true).Sum(x => x.Revisits).ToString())
            </td>
            <td>
                @Html.DisplayName(Model.Where(x => x.Publisher.Ispioneer == true).Sum(x => x.BibleStudies).ToString())
            </td>
            <td>
                @Html.DisplayName(Model.Where(x => x.Publisher.Ispioneer == true).Sum(x => x.PlusHours).ToString())
            </td>
        </tr>
    }

</table>

<br />


<label>Pioneiros Auxiliares</label>
<table class="table table-striped table-hover">

    <thead>
        <tr class="btn-primary bg-success">
            <th>
                <label>Mês</label>
            </th>
            <th>
                <label>Publicações</label>
            </th>
            <th>
                <label>Video</label>
            </th>
            <th>
                <label>Horas</label>
            </th>
            <th>
                <label>Revisitas</label>
            </th>
            <th>
                <label>Estudos</label>
            </th>
            <th>
                <label>Horas Adicionais</label>
            </th>

            <th>
            </th>
        </tr>

    </thead>
    @if (Model != null)
    {

        if (Model.Any(x => x.IsPionerAux == true))
        {
            <tr>
                <td>
                    @{
                        var months = Model.Where(x => x.Date != DateTime.MinValue);
                        @if (months.Any(x => x.Date.Month == 1))
                        {
                            @Html.DisplayName("Janeiro")
                        }
                        @if (months.Any(x => x.Date.Month == 2))
                        {
                            @Html.DisplayName("Fevereiro")
                        }
                        @if (months.Any(x => x.Date.Month == 3))
                        {
                            @Html.DisplayName("Março")
                        }
                        @if (months.Any(x => x.Date.Month == 4))
                        {
                            @Html.DisplayName("Abril")
                        }
                        @if (months.Any(x => x.Date.Month == 5))
                        {
                            @Html.DisplayName("Maio")
                        }
                        @if (months.Any(x => x.Date.Month == 6))
                        {
                            @Html.DisplayName("Junho")
                        }
                        @if (months.Any(x => x.Date.Month == 7))
                        {
                            @Html.DisplayName("Julho")
                        }
                        @if (months.Any(x => x.Date.Month == 8))
                        {
                            @Html.DisplayName("Agosto")
                        }
                        @if (months.Any(x => x.Date.Month == 9))
                        {
                            @Html.DisplayName("Setembro")
                        }
                        @if (months.Any(x => x.Date.Month == 10))
                        {
                            @Html.DisplayName("Outubro")
                        }
                        @if (months.Any(x => x.Date.Month == 11))
                        {
                            @Html.DisplayName("Novembro")
                        }
                        @if (months.Any(x => x.Date.Month == 12))
                        {
                            @Html.DisplayName("Dezembro")
                        }
                    }

                </td>

                <td>
                    @Html.DisplayName(Model.Where(x => x.IsPionerAux == true).Sum( x => x.Publications).ToString())
                </td>

                <td>
                    @Html.DisplayName(Model.Where(x => x.IsPionerAux == true).Sum(x => x.Video).ToString())
                </td>
                <td>
                    @Html.DisplayName(Model.Where(x => x.IsPionerAux == true).Sum( x => x.Hours).ToString())
                </td>
                <td>
                    @Html.DisplayName(Model.Where(x => x.IsPionerAux == true).Sum(x => x.Revisits).ToString())
                </td>
                <td>
                    @Html.DisplayName(Model.Where(x => x.IsPionerAux == true).Sum(x => x.BibleStudies).ToString())
                </td>
                <td>
                    @Html.DisplayName(Model.Where(x => x.Publisher.Ispioneer == true).Sum(x => x.PlusHours).ToString())
                </td>
            </tr>
        }
    }
</table>




*@