@model SecretaryWebMvc.Models.Publisher

    <h3>
        Você realmente deseja excluir o publicador:
        @Html.DisplayFor(model => model.FullName) ?
    </h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           <label>Nome</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            <label>Endereço</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SimpleAddress)
        </dd>
        <dt>
            <label>Data Nascimento</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
            <label>Data Batismo</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BaptismDate)
        </dd>
        <dt>
            <label>Ungido</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsAnointed)
        </dd>
        <dt>
            <label>Ancião</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsElder)
        </dd>
        <dt>
            <label>Servo Ministerial</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsMinisterialServant)
        </dd>
        <dt>
            <label>Pioneiro</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ispioneer)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index">Back to List</a>
    </form>
</div>