@model SecretaryWebMvc.Models.Publisher

@{
    ViewData["Title"] = "Details";
}
<h2>Detalhes</h2>

<div>
    <h4>Publicador: @Html.DisplayFor(model => model.FullName)</h4>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Nome</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            <label>Endereço</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SimpleAddress)
        </dd>
        <dt>
            <label>Data Nascimento</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
            <label>Data Batismo</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BaptismDate)
        </dd>
        <dt>
            <label>Ungido</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsAnointed)
        </dd>
        <dt>
            <label>Ancião</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsElder)
        </dd>
        <dt>
            <label>Servo Ministerial</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsMinisterialServant)
        </dd>
        <dt>
            <label>Pioneiro</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ispioneer)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Edit</a>
    <a asp-action="Index">Voltar a lista</a>
</div>