@model IEnumerable<SecretaryWebMvc.Models.Publisher>



@{
    ViewData["Title"] = "Pubilcadores";
}


<h2> @ViewData["Title"]</h2>

<br />
<br />
<p>
    <a asp-action="Create" class="btn btn-default bg-primary">Adicionar  Publicador</a>
</p>
<br />
<br />


<table class="table table-striped table-hover">

    <thead >
        <tr class=" btn-primary bg-success">
            <th>
                <label>Nome</label>
            </th>
            <th>
                <label>Endereço Simplificado</label>
            </th>
            <th>
                <label>Data Nascimento</label>
            </th>
            <th>
                <label>Data Batismo</label>
            </th>
            <th>
                <label>Ungido</label>
            </th>
            <th>
                <label>Ancião</label>
            </th>
            <th>
                <label>Servo Ministerial</label>
            </th>
            <th>
                <label>Pioneiro Regular</label>
            </th>
            <th>
                <label>Congregação</label>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(x => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(x => item.SimpleAddress)
                </td>
                <td>
                    @Html.DisplayFor(x => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(x => item.BaptismDate)
                </td>
                <td align="center">
                    @Html.DisplayFor(x => item.IsAnointed)
                </td>
                <td align="center">
                    @Html.DisplayFor(x => item.IsElder)
                </td>
                <td align="center">
                    @Html.DisplayFor(x => item.IsMinisterialServant)
                </td>
                <td align="center">
                    @Html.DisplayFor(x => item.Ispioneer)
                </td>
                <td>
                    @Html.DisplayFor(x => item.Congregation.Name)
                </td>
                <td >
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> 
                </td>
            </tr>
        }
    </tbody>

</table>