@model SecretaryWebMvc.Models.ViewModels.PublisherFormViewModel


@{
    ViewData["Title"] = "Publicadores";
}

<h2> @ViewData["Title"]</h2>

<br />
<br />
<p>
    <a asp-action="Create" class="btn btn-default bg-primary">Adicionar  Publicador</a>

</p>
<br />
<h6>Total de Pub: @Model.Publishers.Count()</h6>
@*<div style="height: 600px;  overflow-y: scroll; overflow-x: hidden; width: 100%; ">*@
<div class="table-cont">
        
    <table class="table table-striped">
     @*     <thead style="position:absolute; width: 100%;">*@
          <thead style="display: block; width: 150%;">
            <tr class=" btn-primary bg-success">
                <th style="width: 250px;">
                    <label>Nome</label>
                </th>
                <th style="padding-right: 60%; margin-right: 30px">
                    <label>Endereço Simplificado</label>
                </th >
                <th style="padding-right: 100px;">
                    <label>Data <br>Nascimento</label>
                </th>
                <th>
                    <label>Data</br> Batismo</label>
                </th>
                <th>
                    <label>Sexo</label>
                </th>
                <th>
                    <label>Ungido</label>
                </th>
                <th>
                    <label>Ancião</label>
                </th>
                <th>
                    <label>Servo</br> Ministerial</label>
                </th>
                <th>
                    <label>Pioneiro <br>Regular</label>
                </th>
                <th>
                    <label>Congregação</label>
                </th>
                <th>
                </th>
            </tr>
        </thead>
  

        <tbody style="display: block; height: 600px;  overflow-y: scroll; overflow-x: hidden; width: 100%;">
            @{
                var publishers = @Model.Publishers.OrderBy(x => x.FullName);
            }

            @foreach (var item in publishers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(x => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(x => item.SimpleAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(x => item.BirthDate)
                    </td>
                    <td>
                        @Html.DisplayFor(x => item.BaptismDate)
                    </td>
                    <td align="center">
                        @{
                            var gender = item.IsMan == true ? "Masc" : "Fem";
                        }
                        <span>@gender</span>
                    </td>
                    <td style="padding-left: 25px; padding-right: 25px;">
                        @Html.DisplayFor(x => item.IsAnointed)
                    </td>
                    <td style="padding-left: 25px; padding-right: 25px;">
                        @Html.DisplayFor(x => item.IsElder)
                    </td>
                    <td style="padding-left: 25px; padding-right: 25px;">
                        @Html.DisplayFor(x => item.IsMinisterialServant)
                    </td>
                    <td style="padding-left: 25px; padding-right: 25px;">
                        @Html.DisplayFor(x => item.Ispioneer)
                    </td>
                    <td>
                        @Html.DisplayFor(x => item.Congregation.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                    </td>
                </tr>
            }
        </tbody>

    </table>



    <div class="container">
        <div class="modal fade " id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Editar</h4>
                    </div>
                    <div class="modal-body">

                        <br />
                        <div>
                            <div class="row">
                                <div class="col-md-12">
                                    <form asp-action="Edit">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="hidden" asp-for="Publisher.Id" />
                                        <div class="form-group">
                                            <label class="control-label">Nome da Congregação</label>
                                            <input asp-for="Publisher.FullName" class="form-control" />
                                            <span asp-validation-for="Publisher.FullName" class="text-danger"></span>
                                        </div>


                                        <div class="modal-footer">
                                            <center>
                                                <div class="form-group">
                                                    <input type="submit" value="Editar" class="btn btn-danger" />
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                                </div>
                                            </center>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="myModal2" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="color:black">Deletar</h4>
                    </div>
                    <div class="modal-body">
                        <center>
                            <h4>
                                Deseja realmente excluir a congregaçãotesteee:
                            </h4><h2>@Html.DisplayFor(modelItem => modelItem.Publisher.FullName)</h2>
                            <br />
                            <br />
                            <br />

                            <div class="row">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form asp-action="@Model.delete(15)">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <input type="hidden" asp-for="Publisher.Id" />

                                            <div class="form-group">
                                                <input type="button" value="Excluir" class="btn btn-danger" data-toggle="modal" data-target="#myModal222" />
                                                <button type="button" onsubmit="@Model.delete(15)">Fechar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModal222" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="color:black">Deletar</h4>
                    </div>
                    <div class="modal-body">
                        <center>
                            <h4>
                                Deseja realmente excluir a congregação:
                            </h4><h2>@Html.DisplayFor(modelItem => modelItem.Publisher.FullName)</h2>
                            <br />
                            <br />
                            <br />

                            <div class="row">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form asp-action="Delete">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            @{
                                                var id = 0;
                                                if (@Model.Publisher != null)
                                                {

                                                    id = @Model.Publisher.Id;
                                                }
                                            }
                                            <input type="hidden" asp-for="@id" />

                                            @{
                                                if (@Model.Publisher == null)
                                                {
                                                    <a asp-action="Delete" asp-route-id="0" type="button" class="btn btn-link alert-link" data-toggle="modal" data-target="#myModal2"> Delete </a>

                                                }
                                                else
                                                {
                                                    <a asp-action="Delete" asp-route-id="@Model.Publisher.Id" type="button" class="btn btn-link alert-link" data-toggle="modal" data-target="#myModal2"> Delete </a>
                                                }
                                            }

                                            <div class="form-group">
                                                <input type="submit" value="Excluir" class="btn btn-danger" data-toggle="modal" data-target="#myModal222" />

                                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>





